@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Condensed&display=swap');


.AddFolder {
    border: 2px dashed gray;
    width: 500px;

}
h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 32px;
    text-align: center;
    
}


label{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-left: 22%;
}

input{
    margin-left: 1%;
}

.buttons{
    margin-bottom: 3%;
    margin-top: 1%;
    
}

.add-folder{
    margin-left: 1%; 
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.cancel-btn{
    float: right;
    margin-right: 1%;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

