@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Condensed&display=swap');

.Note{
    font-family: 'Open Sans', sans-serif;
    height: 88px;
    margin-bottom: 8px;
    width: 100%;
    padding: 8px 0 8px 8px;
}

.Note-delete{
    
    font-family: 'Roboto Condensed', sans-serif;
    width: 75px;
    height: 30px;
    font-size: 18px;
    font-weight: bold;
    float: right;
}



.Note-delete:hover{
    cursor: pointer;
    font-weight: bold;

}

.Note-title a{
    text-decoration: none;
}

.Note-title {
    font-size: 20px;
    margin: 0;
    max-width: 80%;
    min-height: 24px;
    

}

.Note-title a:hover{
    font-weight: bold;
}

.Note-title a:visited{
    color: #3d1c97
}