@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Condensed&display=swap');

.Note{
    font-family: 'Open Sans', sans-serif;
    height: 88px;
    margin-bottom: 8px;
    max-width: 500px;
    padding: 8px 0 8px 8px;
    position: relative;
}

.Note-delete{
    display: flex;
    margin-top: 5%;
    font-family: 'Roboto Condensed', sans-serif;
    width: 55px;
    height: 24px;
    font-size: 14px;
    font-weight: bold;
}



.Note-delete:hover{
    cursor: pointer;
    font-weight: bold;

}

.Note-title{
    font-size: 20px;
    margin: 0;
    max-width: 80%;
    min-height: 24px;

}

.Note-title a:hover{
    font-weight: bold;
}