@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Condensed&display=swap');


.App{
  min-height: 100vh;
  background-color: rgb(219, 216, 216);
}



.group{
  display: flex;
  flex-direction: row;

}

.App-Header a {
  color: white;
}


.App-Nav{
  flex: .5;
  flex-direction: column;

}


.App-Main{
  flex: 1;
  flex-direction:column;
  margin-left: 2%;
  margin-right: 2%;
 

}


