@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Condensed&display=swap');


.Header{
    font-family: 'Roboto Condensed', san-serif;
    background-color: #303030;
    color: #f7fae1;
    height: 150px;
    font-size: 2em;
    padding-top: 1%;
    margin-bottom: 3%;
}

.App-Header a{
    color: #f7fae1;
    text-decoration: none
}

