@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Condensed&display=swap');


.App-Header {
    font-family: 'Roboto Condensed' san-serif;
    background-color: #3d1c97;
    font-size: 3em;
    margin-bottom: 1%;
    text-align: center;
    border: 3px solid #3d1c97;
}


.App-Header a{
    color: #dcdadd;
    text-decoration: none;
    
}

.Header-Link:visited{
    color: #e6e6ec;
    text-decoration: none;
}

